*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

img{
    display: block;
    max-width: 100%;
}

.big-cont{
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
}

.mini-cont{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 165px;
}

.central-cont{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
}

.btn{
    background-color: #0061ff;
    color: #f2f7ff;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
}

.btn.btn-white{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

/* header */

/* nav */

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 50;
    box-shadow: 0px 1px 2px #dedede;
}

.nav-left, .nav-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.list-header{
    display: flex;
    list-style: none;
    gap: 40px;
}

.container-nav li{
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-left ul li a{
    text-decoration: none;
    color: #000000;
}

.nav-right ul li a{
    text-decoration: none;
    color: #000000;   
}

/* /nav */

/* /header */

/* main */

/* jumbotron */

h1{
    text-align: left;
    font-size: 80px;
    font-weight: bold;
    padding-top: 105px;
    padding-bottom: 65px;
}

.left-bottom{
    width: 30%;
}

.left-bottom p{
    font-size: 15px;
}

p > .btn{
    margin: 30px 0;
}

.fa-arrow-down{
    font-size: 40px;
    margin: 80px 0 25px 0;
}

.right-bottom{
    width: 70%; 
    position: absolute; 
    right: 0;
}

.mega-container{
    background-color: #b4d0e7;
    position: relative;
    bottom: -80px;
    margin-bottom: calc(165px + 80px);
}

span{
    display: flex;
}

.flex-header{
    display: flex;
}

/* /jumbotron */

.bottom-75{
    font-size: 40px;
    margin-bottom: 75px;
}

.input{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.cerchio1{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    border-radius: 100%;
    border: 4px solid #1e74ff;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer; 
}

.cerchio2{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    border-radius: 100%;
    border: 2px solid #d0d0d3;
    margin-right: 2px;
    margin-top: 2px;
    cursor: pointer;   
}

.cerchi{
    vertical-align: middle;
    font-size: 14px;
}

.blocco{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d0d3;
}

.piano{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
    font-size: 13px;
    width: 100%;
}

.prezzo-piano{
    padding: 40px 10px 55px 20px;
}

.prezzo{
    font-size: 12px;
    font-weight: bold;
    margin: 25px 0 15px 0;
}

.dettaglio-piano{
    padding-top: 55px;
    margin-bottom: 25px;
}

.dettaglio-piano > ul{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.dettaglio-piano > ul li{
    display: flex;
    margin-bottom: 25px;
    font-size: 14px;
}

.fa-solid{
    margin-right: 5px;
    padding-top: 3px;
}

.btn.prova{
    margin: 50px 0 35px 0;
    text-align: center;
    width: calc(100% - 25px);
}

.line-blocchi{
    color: #d0d0d3;
    width: 20%;
    margin: 50px 0;
    
}

.punti-salienti > ul{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
}

.punti-salienti > ul li{
    display: flex;
    font-size: 14px;
}

h4{
    margin-bottom: 35px;
}

.fa-check{
    color: #0061ff;
    padding-top: 3px;
}

.blocchi{
display: flex;
justify-content: space-between;
gap: 50px;
}

.utente{
    color: #6b6866;
}

.blocco-large{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d0d3;
    padding-bottom: 35px;
}

.piano-large{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
    font-size: 13px;    
}

.prezzo-piano-centrale{
    padding: 40px 25px 0 25px;
}

.solution{
    padding-top: 30px;
    width: 70%;
}

.flex-botton{
    display: flex;
    justify-content: space-between;
}

.foto-descrizione{
    display: flex;
}

.foto-left{
    width: 100%;
}

.foto-left > img{
    width: 100%;
}

.descrizione-right{
    width: 70%;
    padding: 55px;
}

.descrizione-right > p{
    padding: 20px 0;
}

.box{
    width: calc((100% - 100px) / 3);
}

.cont-box{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;  
    margin-bottom: 210px;
}

.big-tit{
    font-size: 35px;
    margin-bottom: 75px ;
}

.p-box{
    font-size: 13px;
    margin-top: 40px; 
}

.foto-box > img{
    width: 100%;
}

.foto-box{
    margin-bottom: 25px;
}

.larg-70{
    width: 70%;
    font-size: 40px;
    margin-bottom: 70px;
}

.cont-partner{
    max-width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.partner-left, .partner-right{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap; 
    height: calc(100vw / 3);  
}

.l-r{
   height: 50%;
   width: 50%;
   position: relative;
}

.partner-img{
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    

}

.partner1{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.partner2{
    background-color: #61082b;
    border: 15px solid #882049;
}

.partner3{
    background-color: #0093ce;
    border: 15px solid #4bcafd;
}

.partner4{
    background-color: #ff1c1c;
    border: 15px solid #fd8181;
}

.line{
    width: 110px;
    margin: 40px 0 ;
    color: #d0d0d3;
}

.partner-center{
    width: calc(100vw / 3);
    padding-left: 50px;
    background-color: #f5f5f5;
    height: calc(100vw / 3);
    overflow: auto;
}

.partner{
    width: 40%;
    margin-top: 40px;
}

.partner-p{
    font-size: 14px;
    width: 90%;
}

.partner-aut{
    margin-top: 40px;
    font-size: 14px;
}

.partner5{
    background-color: #d5001f;
    border: 15px solid #fd314e;
}

.partner6{
    background-color: #b4d0e7;
    border: 15px solid #e1effb;
}

.partner7{
    background-color: #0d2481;
    border: 15px solid #4760c4;
}

.partner8{
    background-color: #ffd830;
    border: 15px solid #d1c17b;
}


.cont-diventa-pa{
    background-color: #b4d0e7;

}

.cont-pa{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: flex-start;
    padding: 120px 0px;
    align-items: baseline;
}

.btn-inizia{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.titolino-pa{
font-size: 40px;
color: #61082b;
}

.cont-left{
    width: 50%;
}
.cont-right{
    width: 50%;
    text-align: right;
}

.domanda{
    font-weight: bold;
    margin: 45px 0;
}

.line-question{
color: #999999;
}

.title-question{
    margin-bottom: 75px;
}

.question-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-chevron-up{
    padding-right: 40px;
}

.line-question2{
    margin-bottom: 150px;
    color: #999999;
}

.fa-chevron-down{
    position: relative;
    right: 60px;
    bottom: 0;
    display: none;
}
/* /main */


/* footer */

.cont-footer{
    margin: 0 auto;
    color: #ffffff;
    max-width: 1185px;
}

.mega-foot{
    background-color: #000000;
    padding-top: 110px;
    border-bottom: 2px solid #ffffff;
}

.list-foot{
    list-style: none;
}

.titolino-list{
    margin-bottom: 35px;
    font-size: 20px;
}

.link-foot{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.margin-list{
    margin-bottom: 20px;
}

.list{
    display: flex;
    justify-content: space-between;
}

.line-foot{
    width: 120px;
    margin-top: 120px;
}

.lenguage{
    color: #999999;
    padding: 50px 0;
}

/* /footer */

/* bonus */
header li:hover {
    border-bottom: 2px solid #000000;
    padding-top: 2px;
}

.btn:hover{
    filter: brightness(1.4);
}

.l-r{
    transition: 2s;
}

.l-r:hover{
    border: 15px rgba(0, 0, 0, 0.5);
}

.link-foot:hover{
    text-decoration: underline;
}

.select-leng{
    cursor: pointer;
}

.lenguage ul{
    background-color: #000000;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 90px;
    display: none;
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.lenguage{
    position: relative;
    width: 100px;
}

.lenguage ul li{
    list-style: none;
}

.lenguage ul li a{
    width: 89px;
    display: block;
    padding: 5px 15px;
}

.lenguage ul li a:hover{
   background-color: #f2f2f2;
   border-radius: 5px;
}

#dec-a{
    text-decoration: none;
    color: #999999;
}

.lenguage:hover ul{
display: block;
}

.bonus-p{
    width: 90%;
    display: none;
    font-weight: bold;
}

.question-icon:hover .fa-chevron-up{
   display: none;
}
.question-icon:hover .fa-chevron-down{
   display: block;
   position: relative;
    right: 40px;
    bottom: 30px;
}

.question-icon:hover .bonus-p{
display: block;
margin-top: 20px;
}




