*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}



/* header */

/* nav */

.container-nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.nav-left, .nav-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-right ul li a{
    text-decoration: none;
    color: black;   
}

.btn{
    background-color: #0061ff;
    color: #f2f7ff;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
}

/* /nav */

/* jumbotron */

header{
    background-color: red;
}

.container{
    margin: 0 auto;
    max-width: 1205px;
}

h1{
    text-align: left;
    font-size: 80px;
    font-weight: bold;
    margin-top: 105px;
    margin-bottom: 75px;
}

.left-bottom{
    width: 390px;
}

p > .btn{
    margin: 35px 0;
}

.fa-arrow-down{
    font-size: 40px;
    margin: 80px 0 25px 0;
}


/* /jumbotron */
/* /header */

